<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Main Tag</label>
            <select class="form-control" ng-model="row_filter.mainTag_id" ng-options="r.maintagid as  r.maintagval for r in drp_maintag" ng-change="loadSubTag()">
                <option>--Select--</option>
            </select>

        </div>
        <div class="form-group">
            <label>Sub Tag</label>
            <select class="form-control" ng-model="row_filter.subTag_id" ng-change="loadIndexfield()" ng-options="r.subtagid as  r.subtagval for r in drp_subtag">
                <option value="">--Select--</option>
            </select>
        </div>

        <div class="form-group" ng-repeat="r in indexfield">
            <label ng-bind="r.indexval"></label>
            <div class="input-group">
                <div class="input-group-btn">
                    <select class="form-control" style="width:100px" ng-model="r.operator">
                        <option value="">--Select--</option>
                        <option value="Like">Like</option>
                        <option value="Comma Seprated">Comma Seprated</option>
                        <option value="=">Equals</option>
                    </select>
                </div>
                <input type="text" class="form-control" ng-model="r.val"/>
            </div>
            
        </div>
    </div>
</div>
