@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section  headerContent {

    <script src="~/assets/pdfjs/pdf.js"></script>
    <script src="~/assets/pdfjs/pdf.worker.js"></script>
    <script src="~/assets/mypdf/pdfViewer.js"></script>
    <link href="~/assets/mypdf/pdfViewer.css" rel="stylesheet" />

    <script src="~/Scripts/test.js"></script>
}


<div class="row" ng-app="myApp" ng-controller="tagging">
    @*<div class="col-md-12" style="text-align:center" ng-show="busy">
        <img src="../Images/loading.gif" />
    </div>*@
    <div class="col-md-4" ng-hide="busy">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Index Field >> Current Page : {{currentPage}}

                &nbsp;&nbsp;&nbsp;&nbsp;Total Doc Left: {{totalDocleft}}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-8">
                        <select class="form-control" ng-model="row_filter.docLocation" ng-disabled="inProcess">
                            <option>Mumbai</option>
                            <option>Ahmedabad</option>
                            <option>Indore</option>
                            <option>Surat</option>
                            <option>Pune</option>
                            <option>Nagpur</option>
                            <option>Goa</option>
                            <option>Hubli</option>
                            <option>Bangalore</option>
                            <option>Salem</option>
                            <option>Guntur</option>
                            <option>Hyderabad</option>
                            <option>Chennai</option>
                            <option>Madurai</option>
                            <option>Pondichery</option>
                            <option>Cochin</option>
                            <option>Mallapuram</option>
                            <option>Kolkata RDC</option>
                            <option>Kolkata</option>
                            <option>Durgapur</option>
                            <option>Raipur</option>
                            <option>Bhubaneswar</option>
                            <option>Guwahati</option>
                            <option>Patna</option>
                            <option>Ranchi</option>
                            <option>FARIDABAD</option>
                            <option>BUDHPUR, BIJAPUR ND</option>
                            <option>PARWANOO,HP</option>
                            <option>JAIPUR,RJ</option>
                            <option>CHANDIGARH</option>
                            <option>DEHRADUN,UK</option>
                            <option>BANUR,MOHALI</option>
                            <option>LUCKNOW,UP</option>
                            <option>GHAZIABAD,UP</option>
                            <option>PALWAL,HR</option>
                            <option>JAMMU</option>
                        </select>
                    </div>
                    <div class="input-group-btn ">
                        <button class="btn btn-danger" ng-click="releaseDoc()" style="float: right">Release Doc</button>
                    </div>
                </div>

                <div class="form-group">
                    <label>File Barcode</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="getbarcode" ng-change="releaseDoc()" />
                        <div class="input-group-btn">
                            <button class="btn btn-primary" ng-click="getFileBarCodeData()" ng-disabled="inProcess">Get Doc</button>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label>Main Tag</label>
                    <select class="form-control" ng-model="row_filter.mainTag_id" ng-options="r.maintagid as  r.maintagval for r in drp_maintag" ng-change="loadSubTag()">
                        <option>--Select--</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Sub Tag</label>
                    <select class="form-control" ng-model="row_filter.subTag_id" ng-change="loadIndexfield()" ng-options="r.subtagid as  r.subtagval for r in drp_subtag">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button class="btn btn-danger" ng-click="delete()">Delete</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" ng-click="save_indexfield()">Save Changes</button>
                    </div>
                </div>

                <hr />
                <br />
                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-repeat="r in indexfield">
                            <label ng-bind="r.indexval"></label>
                            <input class="form-control" ng-model="r.val" />
                        </div>
                    </div>
                </div>

            </div>


            <div class="panel-footer text-right">
            </div>
        </div>
    </div>

    <div class="col-md-8" ng-hide="busy">
        <div class="panel panel-default">
            <div class="panel-heading">
                PDF Viewer For File Boarcode : <span ng-bind="row.FileBarcode"></span>

            </div>
            <div class="panel-body" style="min-height: 400px">
                <pdf-viewer bar-code="row.FileBarcode" current-page="currentPage" total-pages="totalPages"></pdf-viewer>
            </div>
            <div class="panel-footer">
                <label class="form-control">Dump Data</label>
                <table class="table table-bordered">
                    <tr>
                        <td>BoxBarcode</td>
                        <td><span ng-bind="row.BoxBarcode"></span></td>
                        <td>FileBarcode</td>
                        <td><span ng-bind="row.FileBarcode"></span></td>
                    </tr>
                    <tr>
                        <td>SalesInvoiceNo</td>
                        <td><span ng-bind="row.InvoiceNo"></span></td>
                        <td>SaleInvoiceDate</td>
                        <td><span ng-bind="row.InvoiceDate"></span></td>
                    </tr>
                    <tr>
                        <td>SRNNo</td>
                        <td><span ng-bind="row.SRNNo"></span></td>
                        <td>SRNDate</td>
                        <td><span ng-bind="row.SRNDate"></span></td>
                    </tr>
                    <tr>
                        <td>ARADocNo</td>
                        <td><span ng-bind="row.ARADocNo"></span></td>
                        <td>ARACity</td>
                        <td><span ng-bind="row.ARACity"></span></td>
                    </tr>
                    <tr>
                        <td>STNNo</td>
                        <td><span ng-bind="row.STNNo"></span></td>
                        <td>STNDate</td>
                        <td><span ng-bind="row.STNDate"></span></td>
                    </tr>
                    <tr>
                        <td>STNFrom</td>
                        <td><span ng-bind="row.STNFrom"></span></td>
                        <td>STNTo</td>
                        <td><span ng-bind="row.STNTo"></span></td>
                    </tr>
                    <tr>
                        <td>LRNo</td>
                        <td><span ng-bind="row.LRNo"></span></td>
                        <td>Comment</td>
                        <td><span ng-bind="row.Comment"></span></td>
                    </tr>
                    <tr>
                        <td>BillingLocation</td>
                        <td><span ng-bind="row.BillingLocation"></span></td>
                        <td>CustomerName</td>
                        <td><span ng-bind="row.CustomerName"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>


<!--
<div class="col-lg-12" >

    <div class="col-lg-4 col-md-4" style="border: 1px solid #0094ff; border-radius: 5px; padding: 5px; float: left">
        @*<input type="file" id="filepath" class="form-control"/>*@
        <label class="">Control Number</label><br />
        <input id="controlnum" class="form-control-md" type="text" />
        <button id="getimg" class="btn btn-dark col-md-4">Get</button>
        <hr />
        <label class="col-md-4">Main Tag</label>

        <br />
        <label class="col-md-4">Sub Tag</label>

        <br />
        <hr />
        <label class="col-md-12">Index Fields</label>
        <hr />


    </div>

    <div class="col-lg-8 col-md-8" style="border: 1px solid #0094ff; border-radius: 5px; padding: 5px; float: left">
        <iframe id="viewer" src=""></iframe>
    </div>
</div>
-->
