@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section  headerContent {
    <script src="~/Scripts/test.js"></script>
}

<div class="col-lg-12" ng-app="myApp" ng-controller="tagging">

    <div class="col-lg-4 col-md-4" style="border: 1px solid #0094ff; border-radius: 5px; padding: 5px; float: left">
        @*<input type="file" id="filepath" class="form-control"/>*@
        <label class="">Control Number</label><br />
        <input id="controlnum" class="form-control-md" type="text" />
        <button id="getimg" class="btn btn-dark col-md-4">Get</button>
        <hr />
        <label class="col-md-4">Main Tag</label>
        <select id="maintag" class="form-control-md col-md-7" ng-model="row.mainTag_id" ng-options="r.maintagid as  r.maintagval for r in drp_maintag" ng-change="loadSubTag()">
            <option>--Select--</option>
        </select>
        <br />
        <label class="col-md-4">Sub Tag</label>
        <select id="subtag" class="form-control-md col-md-7"  ng-model="row.subTag_id" ng-change="loadIndexfield()" ng-options="r.subtagid as  r.subtagval for r in drp_subtag" >
            <option value="">--Select--</option>
        </select>
        <br />
        <hr />
        <label class="col-md-12">Index Fields</label>
        <hr />
        <table>
            <tr ng-repeat="r in indexfield">
                <td ng-bind="r.indexval" class="col-md-6"></td>
                <td class="col-md-6"><input type="text" /></td>
            </tr>
            <tr><td></td><td  class="col-md-6"><button class="btn btn-success" ng-show="showsave" ng-click="">Save</button></td></tr>
        </table>

    </div>

    <div class="col-lg-8 col-md-8" style="border: 1px solid #0094ff; border-radius: 5px; padding: 5px; float: left">
        <iframe id="viewer" src=""></iframe>
    </div>
</div>
