@{
    ViewBag.Title = "searchDoc";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@section  headerContent {
    <script src="~/Scripts/viewDoc.js"></script>

}

<div class="row" ng-app="myApp" ng-controller="searchDoc">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-search"></i>&nbsp;Search Document
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Main Tag</label>
                            <select class="form-control" ng-model="row_filter.mainTag_id" ng-options="r.maintagid as  r.maintagval for r in drp_maintag" ng-change="loadSubTag()">
                                <option>--Select--</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Sub Tag</label>
                            <select class="form-control" ng-model="row_filter.subTag_id" ng-change="loadIndexfield()" ng-options="r.subtagid as  r.subtagval for r in drp_subtag">
                                <option value="">--Select--</option>
                            </select>
                        </div>

                        <div class="form-group" ng-repeat="r in indexfield">
                            <label ng-bind="r.indexval"></label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <select class="form-control" style="width: 100px" ng-model="r.operator">
                                        <option value="">--Select--</option>
                                        <option value="Like">Like</option>
                                        <option value="Comma Seprated">Comma Seprated</option>
                                        <option value="=">Equals</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" ng-model="r.val" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-primary" ng-click="load()"><i class="fa fa-search"></i>&nbsp;Search</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table"></i>&nbsp;Result
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Main Tag</th>
                            <th>Sub Tag</th>
                            <th>File Barcode</th>
                            <th>Image Name</th>
                            <th>Location </th>
                            <th>Entry Date </th>
                            <th><i class="fa fa-gear"></i></th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="r in rows">
                            <td>
                                <span ng-bind="r.maintagval"></span>
                            </td>
                            <td>
                                <span ng-bind="r.subtagval"></span>
                            </td>
                            <td>
                                <span ng-bind="r.fileBarCode"></span>
                            </td>
                            <td>
                                <span ng-bind="r.imageName"></span>
                            </td>
                            <td>
                                <span ng-bind="r.docLocation"></span>
                            </td>
                            <td>
                                <span ng-bind="r.entrydate | date :'dd/MMM/yyyy'"></span>
                            </td>
                            <td>
                                <a><i class="fa fa-search" ng-click="showRowData(r)"></i></a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <!-- Modal -->
            <div id="divViewPDF" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" style="min-width: 1200px; max-height: 600px; overflow: auto">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Document Detail</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-9">
                                <pdf-view2 bar-code="current_row.imageName"></pdf-view2>
                            </div>
                            <div class="col-md-3" style="overflow-x: auto">
                                <br />
                                <label class="control-label">Index Values</label>
                                <table class="table table-bordered">
                                    <tr ng-repeat="r in datares">
                                        <td><span ng-bind="r.indexval"></span></td>
                                        <td><span ng-bind="r.val"></span></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="modal-footer" style="clear: both">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


